# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.icloud
Thumbs.db
ehthumbs.db
Desktop.ini

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS related
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
*.xcuserstate

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release

# macOS related
**/macos/Flutter/ephemeral
**/macos/Pods/
**/macos/.symlinks/

# Linux related
**/linux/flutter/ephemeral
**/linux/.symlinks/

# Windows related
**/windows/flutter/ephemeral

# Test and Coverage
coverage/

# Migration leftovers
.legacy/
migrate_working_dir/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
